body {
  background-color: #f0c79a;
  padding: 50px;
  text-align: center;
}

h1,
h3 {
  color: #752617;
}

p {
  color: #bc410c;
  width: 600px;
  margin: 20px auto;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #752617;
}

img {
  border-radius: 10px;
}
